<h2>Add new product</h2>
<div class="row">
  <div class="col-md-6">
      <form novalidate name="AddNewForm" id="add-new-form" class="" method="post" action="">
        <div class="form-group">
          <label for="model">Model:</label>
          <input class="form-control" type="text" ng-model="product.model" required />
        </div>
        <div class="form-group">
          <label for="brand">Brand:</label>
          <input class="form-control" type="text" ng-model="product.brand" required />
        </div>
        <div class="form-group">
          <label for="type">Type:</label>
          <input class="form-control" type="text" ng-model="product.type" required />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" ng-model="product.description"></textarea>
        </div>
        <div class="form-group">
          <label for="features">Features:</label>
          <textarea class="form-control" ng-model="product.features"></textarea>
        </div>
        <div class="form-group">
          <label for="image">Image:</label>
          <input class="form-control" type="text" ng-model="product.image" />
        </div>
        <div class="form-group">
          <label for="video">Video:</label>
          <input class="form-control" type="text" ng-model="product.video" />
        </div>
        <button class="btn btn-primary" ng-disabled="AddNewForm.$invalid || isUnchanged(product)" id="add-new-btn" ng-click="add_new(product)">Save!</button>
        <a href="#/" class="btn">Cancel</a>
      </form>
  </div>
</div>